@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --red-: #B80C09;
    --charcoal-: #040F16;
    --white-: #FBFBFF;
    --grey-: #C4C4C4;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

body > * {
    padding: 25px 20px;
}

span{
    color: var(--red-);
    font-weight: 900;
}

/* header */
header{
    background-color: var(--charcoal-);
    color: var(--white-);
}

header .navbar{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header .navbar .logo{
    display: flex;
    align-items: center;
}

header .navbar .logo .circle{
    border-radius: 50%;

    width: 24px;
    height: 24px;

    margin-right: 3px;
}

header .navbar .logo h1{
    font-size: 24px;
}

header .navbar .links{
    display: flex;
    align-items: center;

    gap: 3px;
}

header .navbar .links a{
    display: none;
    text-decoration: none;
    color: var(--white-);
    font-size: 12px;
    border-bottom: 3px solid transparent;
}

header .navbar .links i.fa-bars{
    display: block;
}

header .navbar .links i.fa-xmark{
    display: none;
}

header .navbar .links a:hover{
    border-bottom: 3px solid var(--red-);
    transition: 0.5s ease;
}

header .navbar .links :last-child{
    background-color: var(--red-);
    height: 18px;
    width: 45px;
    border-bottom: none;

    text-align: center;
}

header .navbar .links :last-child:hover{
    background-color: var(--white-);
    color: var(--red-);
    border-bottom: none;
}

header .navbar{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
header .intro{
    margin-top: 28px;
    background-color: var(--white-);
    width: 100%;
    height: 70vh;

    color: var(--charcoal-);

    overflow: hidden;

    display: grid;
    grid-template-columns: 100%;
}

header .intro .text-container{
    padding: 25px;
    margin-top: auto;
}

header .intro .text-container h2{
    font-size: 36px;
}

header .intro .text-container p{
    font-size: 18px;
}

header .intro .big-circle{
    margin: auto 0 0 auto;
}

header .intro .big-circle img{
    width:  250px;
    height: 250px;
    
    display: block;
}

section.middle h1{
    text-align: center;
    margin: 25px;
}

section .gallery{
    display: grid;
    gap: 1px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 30vh);
}

section .gallery > *{
    border: 2px solid var(--red-);
    /* box-shadow: 2px 2px 5px 1px rgba(184,12,9,0.95); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section .gallery > *:hover{ 
    transition: 0.5s ease-in;
}

section .gallery .gallery-content .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(184,12,9,0.95);
}

section .gallery .gallery-content .overlay p{
    color: var(--white-);
    align-items: center;
    justify-content: center;
    padding: 15px;
}

section .gallery .gallery-content .overlay p a{
    color: var(--white-);
}

section .gallery .gallery-content .overlay p a:hover{
    background-color: var(--white-);
    transition: all 0.3s ease;
    color: var(--red-);
}

section .gallery .gallery-content:hover .overlay{
    opacity: 1;
    transition: 0.5s ease;
}

section .gallery > :first-child{
    background-image: url('../img/todo.png');
}

section .gallery > :nth-child(2){
    background-image: url('../img/huddle-curve.png');
}

section .gallery > :nth-child(3){
    background-image: url('../img/fylo-dark.png');
}

section .gallery > :nth-child(4){
    background-image: url('../img/huddle-landing.png');
}

section .gallery > :nth-child(5){
    background-image: url('../img/sunnyside.png');
}

section .gallery > :nth-child(6){
    background-image: url('../img/pos.png');
}

section.bottom{
    text-align: center;
}

section.bottom h1{
    margin: 50px;
}

section.bottom .card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
}

section .card-container .card{
    border-radius: 16px;
    background-color: var(--charcoal-);
    padding: 15px 10px;
    color: var(--white-);
    text-align: center;
}

section .card-container .card:hover{
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
}

section .card-container .card img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px 0;
    padding: 10px;
    background-color: var(--white-);
}

section .card-container .card p{
    font-size: 14px;
}

footer{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 25px; 
    background-color: #ccc;
}

footer > *{
    width: 100%;
    font-size: 14px; 
}

footer .footer-text{
    display: grid;
    grid-template-columns: 90% 10%;
}

footer .footer-text .footer-circle{
    display: inline-block; 
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    background-color: var(--red-);
}

footer .footer-sns a:visited{
    color: var(--charcoal-);
}

footer .footer-sns i:hover{
    transition: 0.3s ease;
    color: var(--red-);
}

@media screen and (min-width: 1024px){
    body > * {
        padding: 50px;
    }

    header .navbar .logo .circle{
        width: 54px;
        height: 54px;
    
        margin-right: 13px;
    }

    header .navbar .logo h1{
        font-size: 54px;
    }

    header .navbar .links{
        gap: 37px;
    }

    header .navbar .links a{
        display: block;
        font-size: 18px;
    }
    
    header .navbar .links :last-child{
        height: 24px;
        width: 68px;
    }
    
    header .intro{
        grid-template-columns: repeat(2, 1fr);
    }

    header .intro .text-container{
        padding: 90px;
    }
    
    header .intro .text-container h2{
        font-size: 72px;
    }

    header .intro .big-circle img{
        width:  362px;
        height: 362px;
    }

    section .gallery{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 30vh);
    }

    section .gallery > :first-child{
    }

    section .gallery > :nth-child(2){
        grid-column: span 2;
    }

    section .gallery > :nth-child(3){
        grid-row: span 3;
    }

    section .gallery > :nth-child(4){
        grid-column: span 3;
    }

    section .gallery > :nth-child(5){
        grid-column: span 2;
    }

    section .gallery > :nth-child(6){
    }

    section.bottom .card-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    section .card-container .card{
        padding: 35px;
    }

    section .card-container .card img{
        margin: 25px 0;
    }

    section .card-container .card p{
        font-size: 18px;
    }

    footer{
        padding: 35px 116px; 
        gap: 25px;
        flex-wrap: nowrap;
    }

    footer > *{
        width: 25%;
    }

    footer .footer-text p{
        font-size: 14px;
    }

    footer .footer-sns{
        text-align: center;
    }
}

@media screen and (min-width: 1366px){
    body > * {
        padding: 84px 116px;
    }

    section.bottom .card-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    section .card-container .card{
        padding: 36px 49px;
    }
}